# VS Code
.vscode/

# Virtual environments
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.spec

# If you DO NOT want to track these, leave them ignored:
# Remove these lines if you WANT figures + excel in GitHub
